<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minimal.anki.wear">
    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:allowBackup="true"
        android:label="Anki Minimal"
        android:theme="@android:style/Theme.DeviceDefault">
        <meta-data android:name="com.google.android.wearable.standalone" android:value="false" />
        <uses-library android:name="com.google.android.wearable" android:required="false" />
        <activity
            android:name=".MainActivity"
            android:label="Anki Minimal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".ListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>
</manifest>
